
#
# Module configuration file for
# Eqela Tasklist
# (com.mycompany.eqelatasklist)
#

displayname: Eqela Tasklist
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata